.minefield {
    line-height:0;
    border-spacing:0;
}

.minefield td {
    padding:0
}

.header {
	Position: relative;
	border: inset 3px #eee;
	background-color: #c0c0c0;
}

.gameFont {
	font-family: 'Press Start 2P', cursive;
	color: #ff0000;
	background-color: #000000;
}

